*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #02042a;
  --primary-text-color: #f5f5f5;
  --button-border: #2b84ea;
  --green-color: #61cea6;
  --link-color: #0b72e7;
}

html {
  font-size: 62.5%;
  font-weight: 200;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: MulishVariable, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-wrapper {
  background-color: var(--primary-bg-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;
  max-width: 108rem;
  margin: 0 auto;
}

.navbar-logo {
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  height: 3rem;
  width: 12.5rem;
  filter: invert(88%) sepia(84%) saturate(4819%) hue-rotate(181deg) brightness(123%) contrast(92%);
  margin-right: 2.2rem;
}

.navbar-link {
  font-size: 1.6rem;
  color: var(--primary-text-color);
  padding: 3.2rem 1.2rem;
  padding-bottom: 1.6rem;
}

.navbar-link:hover {
  color: var(--button-border);
}

.button {
  font-size: 1.4rem;
  line-height: 1.6rem;
  background-color: var(--primary-bg-color);
  box-shadow: rgba(0, 0, 0, 0.05) 2px 4px 9px 1px;
  border: 1px solid var(--button-border);
  border-radius: 2px;
  padding: 1.2rem 2rem;
  outline: none;
  color: var(--primary-text-color);
  cursor: pointer;
  margin-left: 1.6rem;
}

.navbar-button-wrapper {
  /* display: flex;
  align-items: center; */
  position: relative;
  display: inline-flex;
  align-items: center;
}

.navbar-country-wrapper:hover .navbar-country-tooltip {
  opacity: 1;
}
.navbar-country-tooltip {
  position: absolute;
  top: 130%;
  width: 22rem;
  transform: translateX(-40%);
  opacity: 0;
  color: var(--primary-text-color);
  padding: 0.8rem;
  background-color: black;
  border-radius: 5px;
  font-size: 1.4rem;
  text-align: center;
  pointer-events: none;
}
.navbar-country-svg {
  align-self: center;
  transform: translateY(4px);
}

.navbar-buttons {
  display: flex;
}

.signup-button {
  color: var(--button-border);
  background-color: var(--primary-text-color);
  border: 2px solid var(--primary-text-color);
}

.signup-button-span {
  display: flex;
  align-items: center;
}

.signup-arrow {
  filter: invert(36%) sepia(92%) saturate(1573%) hue-rotate(197deg) brightness(98%) contrast(87%);
  width: 14px;
  height: 14px;
  text-align: center;
  margin-left: 5px;
}
/* END OF NAVBAR */

.green-line {
  width: 2.4rem;
  height: 0.4rem;
  background-color: var(--green-color);
  margin: 1.6rem 0;
}

.fold {
  background-color: var(--primary-bg-color);
  padding: 0 14.8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fold-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 40rem;
  margin-top: calc(6vw + 2rem);
  margin-right: 2rem;
}

.fold-heading {
  font-weight: 800;
  font-size: 4rem;
  color: var(--primary-text-color);
  margin-bottom: 1.6rem;
}

.fold-para {
  line-height: 2.8rem;
  font-size: 1.8rem;
  opacity: 0.7;
  overflow-wrap: break-word;
  color: var(--primary-text-color);
  margin: 2rem 0;
}

.fold-button {
  background-color: var(--button-border);
  border-radius: 5px;
  font-size: 1.6rem;
  margin: 0;
  margin-top: 1.6rem;
  padding: 1.4rem 1.8rem;
}
.fold-image-container {
  max-width: 70rem;
}

.fold-image {
  width: 100%;
}

.fold-button-span {
  display: flex;
  align-items: center;
}

.fold-arrow {
  filter: invert(88%) sepia(84%) saturate(4819%) hue-rotate(181deg) brightness(123%) contrast(92%);
  width: 14px;
  height: 14px;
  text-align: center;
  margin-left: 5px;
}

.fold-svg-cutout {
  overflow-x: hidden;
}

/* END OF FOLD */

/* START OF PAYMENT SECTION */
.payment {
  position: relative;
  margin: 0 auto;
}

.payment-heading-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4rem;
}

.payment-heading {
  font-size: 2.4rem;
  font-weight: 800;
}

.payment-dots {
  position: absolute;
  right: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.payment-dots-left {
  position: absolute;
  left: 15%;
  top: -2%;
  z-index: -1;
}

.card {
  display: flex;
  border-radius: 5px;
  position: relative;
  max-width: 108rem;
  margin: 0 auto;
  background-color: white;
}

.card-content-wrapper {
  padding: 4.8rem;
  padding-right: 0;
}

.card-image-wrapper {
  position: absolute;
  right: 0;
}

.card-image {
  max-width: 60rem;
}

.card-content__heading {
  font-size: 2.8rem;
  line-height: 4.4rem;
  font-weight: 700;
  max-width: 51rem;
}
.card-content__heading-span {
  color: var(--button-border);
}

.card-feature {
  margin-top: 3.2rem;
}

.payment-button-wrapper {
  padding: 3.2rem 0;
}

.payment-button {
  background-color: var(--button-border);
  color: var(--primary-text-color);
  margin: 0;
  padding: 1.4rem 1.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.4rem;
}

.payment-button-transparent {
  color: var(--button-border);
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 2.4rem;
}

.payment-button-transparent:hover {
  color: var(--primary-bg-color);
}

.card-feature__list {
  font-size: 1.6rem;
  line-height: 3.4rem;
}

.card-feature__list::before {
  content: "✔️";
  color: var(--green-color);
  fill: var(--green-color);
  margin-right: 2rem;
}

/* PAYMENT COLLECTION */

.payment-collection {
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 108rem;
  gap: 3.2rem;
}

.collection-card {
  clip-path: polygon(73% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
  border-radius: 4px;
  width: 339px;
  height: 225px;
  position: relative;
  background: #f0f0f0;
}

.box-shadow-wrap {
  display: inline-block;
  position: relative;
  transition: all 0.15s ease-out;
}
.box-shadow-wrap:hover {
  filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.14));
}
.box-shadow-wrap:hover .collection-card {
  background-color: white;
}

.collection-card-inside {
  position: absolute;
  border-radius: 4px;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: white;
  clip-path: polygon(73% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
  padding: 2.4rem 2rem;
  padding-right: 4.8rem;
}

.collection-card__heading {
  font-size: 2.2rem;
  font-weight: 700;
}

.collection-card__para {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: hsl(229 10% 55% / 2);
  margin-top: 2.4rem;
}

.collection-card__button {
  display: inline-block;
  font-size: 1.6rem;
  margin-left: 0;
  margin-top: 3.2rem;
}

.collection-card-wave {
  position: absolute;
  right: 0;
  opacity: 0;
}

.box-shadow-wrap:hover .collection-card-svg {
  background: linear-gradient(30.55deg, #6ac7ff 11.05%, #148aff 90.09%);
}

.box-shadow-wrap:hover .collection-card-wave {
  opacity: 1;
}

.collection-card-svg {
  background-color: var(--button-border);
  border-radius: 100px;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  top: 6px;
  right: 12px;
}

.collection-card-svg__outer {
  width: 100%;
}

/* BUSINESS BANKING  */
.business-banking {
  background: url(/assets/x-dark-bg.0bc3bc00.svg);
  padding-top: 25rem;
  padding-bottom: 50rem;
  background-position: -400px;
  background-repeat: no-repeat;
  background-size: 200% 100%;
}
.business-banking-wrapper {
  /* padding: 0 32rem; */
  /* padding-top: 10rem; */
  position: relative;
}

.x-flame-1 {
  height: 20rem;
  position: absolute;
  top: -3.5rem;
  left: 3.6rem;
  transform: rotate(373deg);
}

.x-flame-2 {
  height: 23rem;
  width: 17rem;
  position: absolute;
  top: 24rem;
  right: 0.6rem;
  transform: rotate(365deg);
}

.business-heading {
  color: var(--primary-text-color);
  padding-right: 2rem;
}

.banking-card {
  background-color: transparent;
  border: 1px solid rgb(82, 90, 118);
  border-radius: 8px;
}

.green {
  color: var(--green-color);
}

.white {
  color: var(--primary-text-color);
}

.razorpay-x-logo {
  width: 16.8rem;
  height: 3.2rem;
  vertical-align: middle;
}

.banking-button-wrapper {
  padding-bottom: 0;
}

.business-card {
  clip-path: polygon(73% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
  border-radius: 4px;
  width: 339px;
  height: 225px;
  position: relative;
  background-color: #f0f0f057;
}

.business-inside {
  background: rgb(24, 28, 46);
  position: absolute;
  border-radius: 4px;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  clip-path: polygon(73% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
  padding: 2.4rem 2rem;
  padding-right: 4.8rem;
}

.box-shadow-wrap-b {
  display: inline-block;
  position: relative;
  transition: all 0.15s ease-out;
  z-index: 10;
}

.box-shadow-wrap-b:hover .business-card {
  background: rgb(24, 28, 46);
}

.box-shadow-wrap-b:hover {
  filter: drop-shadow(0 0 20px rgb(14, 17, 29));
}

.business-card-svg {
  background-color: var(--button-border);
  border-radius: 100px;
  width: 5rem;
  height: 5rem;

  position: absolute;
  top: 6px;
  right: 12px;
  z-index: -10;
}

.business-card-svg__outer {
  width: 100%;
}

.box-shadow-wrap-b:hover .business-card-svg {
  background: linear-gradient(188.57deg, #2095ff -16.05%, #6416ff 116.32%);
  box-shadow: 0px 2px 24px rgb(0 0 0 / 40%);
}

.box-shadow-wrap-b:hover .collection-card-wave {
  opacity: 1;
}

.demo-wrapper {
  border: 1px solid rgb(82, 90, 118);
  border-radius: 4px;
  padding: 3.2rem 0;
  display: flex;
  max-width: 108rem;
  margin: 6.4rem auto;

  align-items: center;
  justify-content: space-around;
}
.demo-text {
  font-size: 2rem;
  color: var(--primary-text-color);
  font-weight: 200;
}
.demo-text-bold {
  font-weight: 600;
}

.features {
  padding: 0 3.2rem;
  margin: 0 auto;
  padding-bottom: 10rem;
  margin-top: -9rem;
  background: url(/assets/features-bg.61935438.svg) no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  z-index: 10;
  position: relative;
}

.features-wrapper {
  margin: 0 14.8rem;
  padding: 19.2rem 0 12rem 0;
}

.feature-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 800;
  color: var(--primary-text-color);
}

.feature-sub-title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: var(--primary-text-color);
  max-width: 43rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}

.feature-card__svg {
  width: 4.4rem;
  height: 4.4rem;
}

.feature-card__title {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 800;
  color: var(--primary-text-color);
}

.feature-card__info {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--primary-text-color);
}

.client {
  background: #f5f8fe;
  margin-top: -20rem;
  overflow-y: hidden;
}

.client-wrapper {
  margin: 0 14.8rem;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 10rem;
}

.client-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 29rem 0 8rem 0;
  max-width: 45rem;
}

.client-title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 800;
  color: black;
}

.client-sub-title {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: black;
  max-width: 43rem;
  text-align: left;
  margin-bottom: 3.2rem;
}

.blue-button {
  margin: 0;
  background-color: var(--button-border);
  box-shadow: 2px 4px 9px 1px hsla(0, 0%, 0%, 0.05);
}

.client-img-wrapper {
  max-height: 70rem;
  position: relative;
}

.client-img {
  animation: scroll-infinite 30s linear infinite;
  width: 50rem;
  position: static;
}

.client-img-blur-bottom {
  position: absolute;
  height: 200px;
  width: 100%;
  background: linear-gradient(0deg, #f4f8ff, #fff0);
  bottom: -12px;
}

.client-img-blur-top {
  position: absolute;
  height: 200px;
  width: 100%;
  background: linear-gradient(180deg, #f4f8ff, #fff0);
  top: 150px;
}

@keyframes scroll-infinite {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(-50%);
  }
}

.payment {
  position: relative;
}

.product {
  max-width: 108rem;
  margin: 0 auto;
  margin-top: -3.7rem;
  padding-bottom: 15rem;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  position: relative;
}

.product-dot1 {
  position: absolute;
  top: -20%;
  left: 28%;
  z-index: -10;
}

.product-dot2 {
  position: absolute;
  top: -20%;
  right: -5%;
  z-index: -10;
}

.prodcut__card-whitebg {
  background-color: white;
}

/* .prodcut__card-whitebg:hover {
  transform: scale(1);
} */

.card__text {
  align-self: center;
}

.product__card {
  padding: 4rem;
  box-shadow: 2px 4px 9px 1px hsla(0, 0%, 0%, 0.05);
  transition: all ease-in-out 0.21s;
  cursor: pointer;
  background-image: url(/assets/instant-settlements-bg.b4569475.svg);
  background-repeat: no-repeat;
}

.product__card:hover {
  transform: scale(1.05);
  background: url(/assets/instant-settlements-hover.a27f0c91.svg);
  background-repeat: no-repeat;
}

.product__card-svg {
  background-color: var(--button-border);
  border-radius: 100px;
  width: 4rem;
  height: 4rem;
}

.product__title {
  font-size: 4rem;
  line-height: 5.4rem;
  font-weight: 700;
}

.product__title-blue {
  color: var(--button-border);
}

.product__card-title {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 2.1rem;
  padding-top: 1.6rem;
}

.product__card-para {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.2rem 0;
}

.product__card-btn {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--button-border);
}

.footer {
  background: linear-gradient(to right, #eef9fe, #edf7ff);
  padding: 19rem 0 2rem 0;
}

.footer-wrapper {
  max-width: 108rem;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  padding: 0 3.2rem;
}

.footer-text {
  flex: 0.7;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  /* white-space: pre-wrap; */
  text-align: left;
  color: rgb(82 90 118);
}

.certs-wrapper {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.footer-link {
  flex: 2;
  display: flex;
  /* justify-content: space-between; */
  gap: 4rem;
}

.link-heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 2.4rem;
  letter-spacing: 0.08rem;
  color: rgb(103, 103, 103);
  margin-bottom: 0.5rem;
}

.link {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: var(--link-color);
  line-height: 2.8rem;
}
.link-a {
  color: var(--link-color);
  font-weight: normal;
}

.link-ul {
  margin-top: 1rem;
}
.new-badge {
  margin-left: 1rem;
  background-color: var(--green-color);
  text-transform: uppercase;
  color: white;
  padding: 0 0.5rem;
}

.link-img {
  width: 24px;
  height: 24px;
}

.link-img-wrapper {
  margin-top: 1rem;
  display: flex;
  gap: 12px;
}

.address {
  font-size: 1.4rem;
  margin-top: 1.6rem;
  font-weight: normal;
}

.copywrights-reg {
  font-size: 1.4rem;
  margin-top: 2.6rem;
  font-weight: normal;
}

.copywrights-text {
  font-size: 1.4rem;
  font-weight: normal;
}

.cta {
  background-image: url(/assets/footer-head-bg.990e26df.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.cta-wrapper {
  display: flex;
  max-width: 108rem;
  margin: auto;
  align-items: center;
}

.cta-img-wrapper {
  max-width: 24rem;
}
.cta-img {
  width: 100%;
}

.cta-ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 70rem;
}

.cta-li {
  margin-right: 4rem;
}

.footer {
  margin-top: -24rem;
  padding-top: 25rem;
}
.cta {
  position: relative;
  overflow-x: hidden;
}

.carousel {
  display: flex;
  align-items: center;
  padding: 10rem 0;
  overflow: hidden;
}

.carousel-text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.carousel-container {
  /* max-width: 108rem; */
  margin: auto;
  /* background-color: #61cea6; */
}

.carousel-text {
  font-size: 2.4rem;
  font-weight: 800;
  text-align: center;
}

.frame {
  display: flex;
  gap: 5rem;
  padding: 3.2rem 0;
  position: relative;
}

.frame-carousel {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10rem;
}

.frame {
  width: 900px;
  height: 320px;
  align-items: center;
}

.main-frame {
  display: flex;
  gap: 8rem;
  position: absolute;
  width: 900px;
  height: 320px;
  transition: all 1s ease;
}

.main-frame--zero {
  opacity: 0;
}

.main-frame-hidden {
  display: none;
}

.main-frame__content {
  max-width: 50rem;
  padding: 3.2rem 0;
  padding-left: 8rem;
}

.main-frame__img-container {
  width: 32rem;
  height: 32rem;
  flex: 1;
}

.main-frame-img {
  width: 100%;
  height: 100%;
}

.left {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  height: 9.6rem;
}

.right {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.right-arrow {
  height: 9.6rem;
}

.main-frame-heading {
  font-size: 3rem;
  font-weight: 200;
  line-height: 4.5rem;
  position: relative;
}

.main-frame-heading::before {
  content: "";
  height: 4rem;
  width: 4rem;
  background: url("/assets/quotes-icon.40f48901.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -10%;
}

.main-frame-user {
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 2.88rem;
}

.main-frame-role {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 4.5rem;
}

.main-frame-link {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  text-decoration: underline;
  font-style: italic;
  color: black;
}

.main-frame-company {
  height: 4rem;
}

.demo-button {
  background-color: var(--button-border);
  font-size: 1.6rem;
  font-weight: normal;
  position: relative;
  padding: 1.6rem 2rem;
  padding-right: 8rem;
  border-radius: 0.5rem;
}

.green-btn {
  position: absolute;
  top: -5px;
  height: 5.8rem;
  width: 5rem;
  opacity: 0.9;
  background-color: var(--green-color);
  transform: skew(20deg);
  right: 10%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skewed-arrow {
  transform: skew(-20deg);
  width: 2rem;
}

.carousel {
  position: relative;
}

.carousel-dot {
  position: absolute;
  top: 10%;
  left: 10%;
}

.a1-dots {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  margin-top: 10rem;
  z-index: 100;
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #aeaeae;
  border-radius: 100px;
  cursor: pointer;
}

.dot-active {
  background-color: var(--button-border);
}
